@font-face {
    font-family: 'ok';
    src: url('fonts/animeace2_bld.otf') format('opentype');
}


/* Reset básico para remover margens e preenchimentos padrão */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo geral do corpo da página */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #A50044, #004D98); /* Gradiente Barça */
    color: white;
    line-height: 1.6;
    text-align: center;
    padding: 20px;
    
}

/* Cabeçalho */
header {
    background-color: #FFD700; /* Dourado para destaque */
    color: #A50044; /* Grená do Barcelona */
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 20px;
}

/* Seções */
section {
    background: rgba(219, 217, 217, 0.1); /* Transparência leve */
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    border-radius: 89px;
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.3); /* Sombra dourada */
}

/* Títulos */
h1, h2 {
    font-family: 'ok';
    font-size: 20px;
    color: #000c70; /* Dourado */
    margin-bottom: 15px;
}

/* Parágrafos */
p {
    color: white;
    margin-bottom: 10px;
}

/* Estilizando imagens */
img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    border: 3px solid #FFD700; /* Borda dourada */
}

/* Vídeo e áudio */
video, audio {
    display: block;
    margin: 10px auto;
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
    border: 3px solid #FFD700; /* Destaque dourado */
}

/* Figuras (imagens e vídeos com legenda) */
figure {
    margin: 20px auto;
    text-align: center;
}

figcaption {
    font-size: 14px;
    color: #FFD700;
    margin-top: 5px;
}

/* Responsividade */
@media (max-width: 768px) {
    section {
        padding: 15px;
    }
    
    header {
        font-size: 20px;
        padding: 15px;
    }
}
