@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header{
    background-image: linear-gradient(to bottom, white, rgb(179, 179, 179));
    text-align: center;
    padding: 10px;
}

header h1{
    margin-bottom: 10px;
}

header p{
    margin-bottom: 10px;
}

#nav-link{
    text-align: left;
    margin-right: 20px;
    margin-top: 25px;
}

nav > a{
    font-size: 12px;
    margin-right: 20px;
    color: rgb(181, 220, 255);
    text-decoration: none;
    text-shadow: 1px 1px 2px black;
    padding: 1px;
    border-radius: 5px;
    font-family: monospace;
}

#nav-link a:hover{
    color: white;
    text-decoration: underline;
    background-color: rgb(121, 120, 120);
    border: 1px solid white;
}

main{
    padding: 50px;
}
section{
    margin-bottom: 80px;
}

section h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(54, 54, 54);
    margin-bottom: 10px;
}
.text-p{
    line-height: 25px;
    margin-top: 5px;
    text-align: justify;
    text-indent: 30px;
    margin-bottom: 20px;
    max-width: 800px;
    min-width: 300px;
}

.image-container {
    display: flex; 
    gap: 20px; /* Espaço entre as imagens */
    max-width: 100%; /* Permite que o contêiner ocupe a tela toda */
    margin: 0 auto; /* Centraliza horizontalmente */
}


.image-container img {
    width: 300px; /* Mantém um tamanho fixo */
    height: auto; /* Mantém a proporção */
}



img{
    margin-bottom: 20px;
    max-width: 100%; /* Garante que a imagem não ultrapasse o tamanho da tela */
    height: auto;
    border-radius: 2px;
    box-shadow: 1px 7px 7px rgba(54, 54, 54, 0.192);

}
.pipoca2{
    width: 341px;
    height: 258px;
}

@media (max-width: 768px) {
    .image-container img {
        width: 45%; /* Quando a tela ficar menor que 768px, cada imagem ocupa 45% da largura */
    }
}

@media (max-width: 400px) {
    .image-container img {
        width: 90%; /* Quando a tela for menor que 400px, as imagens vão ocupar 90% da largura */
    }
}
hr{
    width: 800px;
}

article{
    padding: 10px;
}
article h3{
    color: rgb(85, 85, 85);
}
.mais{
    padding: 20px;
}

article a{
    text-decoration: none;
}
 article li{
    margin-left: 5px;
    padding: 5px;
 }
 .primeiro{
    margin-left: -15px;
 }