@charset "UTF-8";
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

body {
    background-image: linear-gradient(to right, #A3AFBF, #97a2b1);
}

h1 {
    text-decoration: underline;
}

h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.pergunta {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgb(48, 65, 65);
}

.alter {
    list-style-type: upper-alpha;
    padding: 0;
}

.opcao {
    
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: white;
    padding: 5px;
    border-radius: 8px;   
    margin: 10px auto; /* Centraliza a opção */
    cursor: pointer;
    transition: 0.3s;
    width: 100px;
    position: relative;
    height: 30px; /* Define um tamanho fixo para evitar variação */
    overflow: visible;
}

.opcao:hover {
    background: #d1d9e0;
}

.alter li::marker {
    display: inline;
    color: #0080ff;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000000;
    margin-left: 20px;
}

.alter li:hover {
    color: #0080ff;
    background-color: rgb(0, 63, 63);
}

.alter {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style-type: upper-alpha;
}

.pergunta li::marker {
    display: inline;
    color: #21586e;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000000;
    font-style: italic;
    margin-right: 50px;
    
}

.resposta {
    display: none;
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    left: 110%; /* Move a resposta para o lado direito da opção */
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap; /* Impede quebra de linha */
    font-family: monospace;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.7);
    color: rgb(255, 0, 0);
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 10;
}

.opcao:hover .resposta {
    display: block;
}

.win {
    color: green;
    font-weight: bold;
    font-family: monospace;
}
a{
    font-style: italic;
    color: rgb(95, 95, 224);
    font-family: fantasy;
    text-decoration: none;
    text-shadow: 1px 1px 2px black;
    text-align: center;
}
a:hover{
    color: rgb(168, 0, 0);
    text-decoration: underline;
}
iframe{
    border-radius: 10px;
    border: 1px solid  #A3AFBF;
    box-shadow: 1px 1px 2px  #51575f;
}
.pergunta li{
    list-style-position: inside;
}
.alter .opcao:active{
    color: rgb(0, 87, 87);
    background-color: aquamarine;
}