@charset "UTF-08";
body{
    background-color: #A3AFBF;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #2C3540;
    text-align: center;
}
.two{
    color: #30353d;
}
div:hover{
    color: rgb(253, 0, 0);
}
ol{
    color:#24282e;
    width: 0;
}
p{
    
    font-size: 14px;
    display: none;
    
}
div:hover > p{
    width: 50px;
    display: block;
    color: rgb(160, 36, 6);
    text-shadow: 1px 1px 2px rgb(83, 19, 3); ;
    
}
div:hover > #win{
    color: rgb(5, 88, 5);
    text-shadow: 1px 1px 2px rgb(3, 53, 3) ;
}